*{
    font-family: "Roboto", sans-serif;
}
#main-container{
    padding: 10px;
}
.top-container{
    border: 1px solid black;
    padding: 15px;
}

.heading{
    text-decoration: underline;
    font-size: 35px;
}
a{
    color: inherit;
}
img{
    height: 350px;
    width: 550px;
}
p, a, li{
    font-size: 22px;
}
li{
    line-height: 40px;
}


